%li.has-dropdown
  = link_to 'Applications', user_applications_path
  %ul.dropdown
    - @current_user.user_applications.each do |a|
      %li
        = link_to a.name, user_application_path(a)
    %li.divider
    %li
      = link_to 'New application', new_user_application_path

%li.has-dropdown
  = link_to @current_user.name, '#'
  %ul.dropdown
    %li
      = link_to 'Profile', edit_user_registration_path
    %li
      = link_to 'Sign out', destroy_user_session_path, :method => :delete