%h2 Sign up
= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
  = devise_error_messages!

  = f.input :email, autofocus: true
  = f.input :first_name
  = f.input :last_name

  = f.input :password, autocomplete: 'off'
  = f.input :password_confirmation

  = f.submit 'Sign up', class: 'button'

= render 'devise/shared/links'
