= content_for :title, 'Application'

%h2
  Your applications
= link_to 'Create', new_user_application_path, class: 'button'

%table
  %thead
    %tr
      %th{width: '40%'} Name
      %th{width: '10%'} Errors
      %th{width: '20%'} Token
      %th{width: '30%'} Actions

  %tbody
    - @user_applications.each do |ua|
      %tr
        %td
          = link_to ua.name, user_application_path(ua)
        %td= ua.application_errors.size
        %td= ua.id
        %td
          = link_to 'Show', user_application_path(ua), class: 'button'
          = link_to 'X', user_application_path(ua), class: 'button alert', :method => :delete, confirm: 'Are you sure you want to delete this app?'