= content_for :title, @user_application.name

%h2= @user_application.name

%table
  %thead
    %tr
      %th{width: '50%'} Message
      %th{width: '20%'} Date
      %th{width: '30%'} Actions
  %tbody
    - @user_application.application_errors.each do |e|
      %tr
        %td
          = link_to e.message, user_application_application_error_path(@user_application, e)
        %td= e.created_at
        %td
          = link_to 'Show', user_application_application_error_path(@user_application, e), class: 'button'
          = link_to 'Delete', user_application_application_error_path(@user_application, e), class: 'button alert', :method => :delete, confirm: 'Are you sure you want to delete this error?'