!!!
%html
  %head
    %title= content_for?(:title) ? "Bugfreak - #{yield(:title)}" : 'Bugfreak'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    = stylesheet_link_tag 'application', media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag 'rainbow/github'
    = javascript_include_tag 'custom.modernizr', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render 'layouts/header'

    .row
      .large-12.columns
        = render partial: 'layouts/flash'
        = yield

    = render partial: 'layouts/footer'

  = render partial: 'layouts/google'
  = javascript_include_tag 'application', 'data-turbolinks-track' => true